- content_for(:title) { "#{@user.display_name}: Edit Profile" }
- content_for(:meta_description) { "Edit information for #{@user.name}" }

= render 'form'

%button
  = link_to 'Show', @user
%button
  = link_to 'Back', users_path
