= form_for @venue do |f|
  - if @venue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@venue.errors.count, "error")} prohibited this venue from being saved:"
      %ul
        - @venue.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field(:name, required: true)
    -# %small#name-desc
    -#   Helper text for the form control.
  .field
    = f.label(:site_url, 'Website')
    = f.text_field :site_url
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :email
    = f.text_field :email
  %h4 Address
  = f.fields_for :address do |a|
    .field
      = a.label(:line_one, 'Street')
      = a.text_field :line_one
    .field
      = a.label(:line_two, 'Street line two')
      = a.text_field :line_two
    .field
      = a.label :city
      = a.text_field :city
    .field
      = a.label :state
      = a.text_field :state
    .field
      = a.label :country
      = a.text_field :country
    .field
      = a.label :zip_code
      = a.text_field :zip_code
  .actions.measure.flex.items-center.justify-between
    = render('shared/back_button', url: venues_path, color: 'bg-danger')
    = f.button
