%h2 Venues

%table
  %tr
    %th Name
    %th Site url
    %th Phone
    %th Email
    %th Location
    %th
    - if current_user&.superuser?
      %th
      %th

  - @venues.each do |venue|
    %tr
      %td= venue.name
      %td= venue.site_url
      %td= venue.phone
      %td= venue.email
      %td= venue.address.present? ? "#{venue.address.city}, #{venue.address.state} #{venue.address.country}" : 'N/A'
      %td= link_to 'View', venue
      - if current_user&.superuser?
        %td= link_to 'Edit', edit_venue_path(venue)
        -# TODO: access control - managed_by_user ? soft delete?
        %td= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Venue', new_venue_path
