- content_for(:title) { 'Venues' }
- content_for(:meta_description) { 'A list of all venues looking for shows.' }

%h2 Venues
.overflow-auto
  %table{cellspacing: 0}
    %thead
      %tr
        %th Name
        %th Location
        %th Site url
        -# %th Phone
        -# %th Email
        %th
        - if current_user&.superuser?
          %th
          %th

    %tbody
      - @venues.each do |venue|
        %tr
          %td
            -# %b.dn-ns Name:
            %b= venue.name
          %td
            -# %b.dn-ns Location:
            = venue.address.present? ? venue.address.city_state_country_format : '-'
          %td
            -# %b.dn-ns Site:
            = venue.site_url
          -# %td
          -#   -# %b.dn-ns Phone:
          -#   = venue.phone
          -# %td
          -#   -# %b.dn-ns Email:
          -#   = venue.email
          %td
            %button
              = link_to 'View', venue
          - if current_user&.superuser?
            -# TODO: access control - managed_by_user ? soft delete?
            %td
              %button
                = link_to 'Edit', edit_venue_path(venue)
            %td
              %button
                = link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }

%br

%button
  = link_to 'New Venue', new_venue_path
