- content_for(:title) { "#{@venue.name}: Profile" }
- content_for(:meta_description) { "Show and booking information for #{@venue.name}." }

%p
  %b Name:
  = @venue.name
%p
  %b Site url:
  = @venue.site_url
%p
  %b Phone:
  = @venue.phone
%p
  %b Email:
  = @venue.email
%p
  %b Location:
  - if @venue.address.present?
    = "#{@venue.address.city}, #{@venue.address.state} #{@venue.address.country}"
  - else
    %b Unknown

%br
%button
  = link_to 'Back', venues_path
%button
  = link_to 'Edit', edit_venue_path(@venue)
