= form_for @<%= singular_table_name %> do |f|
  - if @<%= singular_table_name %>.errors.any?
    #error_explanation
      %h2= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"
      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |message|
          %li= message
<% for attribute in attributes -%>
  .field
    = f.label :<%= attribute.name %>
    = f.<%= attribute.field_type %>(:<%= attribute.name %>, required: true)
    -# %small{id: <%= attribute.name.concat('-desc') %>}
      -# Helper text for the form control.
<% end -%>
  .actions.measure.flex.items-center.justify-between
    TODO: if persisted, back to show, else back to index
    - if @<%= singular_table_name %>.persisted?
      = render('shared/back_button', <%= index_helper %>_path: venues_path, color: 'bg-danger')
    - else
      = render('shared/back_button', <%= index_helper %>_path: venues_path, color: 'bg-danger')
    = f.button
