%h2 <%= plural_table_name.titleize %>
.overflow-auto
  %table
    %thead
      %tr
        <% for attribute in attributes -%>
          %th <%= attribute.human_name %>
        <% end -%>
        %th
        - if current_user&.superuser?
          %th
          %th
    %tbody
      - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
        %tr
          <% for attribute in attributes -%>
            %td= <%= singular_table_name %>.<%= attribute.name %>
          <% end -%>
          %td
            %button
              = link_to('View', <%= singular_table_name %>)
          - if current_user&.superuser?
            %td
              %button
                = link_to( 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>))
            %td
              %button
                = link_to 'Delete', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path
