- content_for(:title) { "#{@<%= singular_table_name %>.name}: Profile" }
- content_for(:meta_description) { "Show and booking information for #{@<%= singular_table_name %>.name}" }

<% for attribute in attributes -%>
%p
  %b <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>
%button
  = link_to 'Back', <%= index_helper %>_path
- if current_user&.superuser?
  %button
    = link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
