!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shows
    = csrf_meta_tags
    = csp_meta_tag
    -# = javascript_pack_tag 'vendor', 'data-turbolinks-track': 'reload', async: true
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true
    -# = stylesheet_pack_tag 'vendor', 'data-turbolinks-track': 'reload', async: true
    = stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload', async: true
  %body
    = render('/shared/navbar')
    #message
      .notice
        -if notice.present?
          %p.notice= notice
      .alert
        -if alert.present?
          %p.alert= alert
    .page-content.ph3.ph4-ns
      = yield
